{% extends 'layout_auth.njk' %}

{% block body %}
<section class="loginLeft">
    <div class="white">
        Change Password
    </div>
</section>
<section class="loginRight pt-40">
    <div class="secondary border-0 mb-0">
        <div class="card-header bg-transparent pb-5 pd-10 pr-10">
            <div class="btn-wrapper text-center">
            </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5" style="min-width: 600px; margin: 0 auto;">
            <form role="form" class="" id="changePasswordForm" action="/auth/change-password" method="POST">
                <div class="mb-3">
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input id="newPasswordField" type="password" placeholder="New Password" class="form-control" name="newPassword">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </div>
                            <input id="confirmPasswordField" type="password" placeholder="Confirm Password" class="form-control" name="confirmPassword">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn base-button my-4 btn-primary" id="changePasswordButton">
                        Change Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
document.getElementById('changePasswordForm').addEventListener('submit', function(event) {
  event.preventDefault();

  var newPassword = document.getElementById('newPasswordField').value;
  var confirmPassword = document.getElementById('confirmPasswordField').value;

  if (newPassword !== confirmPassword) {
    console.error('Passwords do not match');
    return;
  }

  var data = {
    newPassword: newPassword,
    userId  : parseInt('{{user.id}}')
  };

  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/auth/change-password', true);
  xhr.setRequestHeader('Content-Type', 'application/json');

  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4) {
      if (xhr.status === 200) {
        var response = JSON.parse(xhr.responseText);
        //console.log(response);

        if (response.status === 'success') {
          // La solicitud fue exitosa
          // Realiza las acciones necesarias
          location.href = '/'; // Redirige al inicio
        } else {
          // La solicitud falló
          console.error('Error en la solicitud de cambio de contraseña');
        }
      } else {
        console.error('Error en la solicitud de cambio de contraseña');
      }
    }
  };

  xhr.send(JSON.stringify(data));
});
</script>
<style>
    .btn {
        /* Estilos de botón */
    }
</style>
{% endblock %}
