{% extends 'layout.njk' %}
{% block head %}

{% endblock %}
{% block body %}

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<title>Bootstrap Example</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>


<style>
  .content {
    width: 80%;
    margin: 0 auto;
  }

  .contentTab {
    display: none;
  }

  .contentTab.active {
    display: block;
  }

  #INFO>div>div>.card-body {
    height: 350px;
  }

  button.w-50.btn.btn-sm.btn-success {

    bottom: 20px;
    margin: 0 auto;
    left: 25%;
  }

  #humans {
    border-left: 1px solid;
    border-color: #ccc;
    padding-left: 2%;


  }

  #humans>div {
    margin-top: 2%;
  }
</style>
<script>


</script>
<div class="content">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-id="1" aria-current="page" href="#">Registro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-id="2" href="#">Historico</a>
    </li>

  </ul>

  <div id="tabsContent">
    <section id="tab-1" class="contentTab active">
      <div class="text-center">


        <div class="row">


          <div class="col-md-7">
            <div class="row mt-4">
              <div class="form-group">
                <input type="text" id="newSede" class="form-control" placeholder="Ingresa el nombre de la sede">
                <button type="button" class="btn btn-success mt-4" id="addSede">Agregar Sede</button>
              </div>
              <div class="col-md-5">
                <select name="sede" id="sede" class="form-control mx-auto" placeholder="Selecciona la sede">
                  {% for sede in data.sedes %}
                  <option value="{{sede.id}}">{{sede.name}}</option>
                  {% endfor %}
                </select>

              </div>
              
              <div class="col-md-5 mx-auto">
                <div class="form-group">
                  <input type="number" id="piso" class="form-control" placeholder="Ingresa el piso">
                </div>
              </div>
            </div>
            <div id="SETS" class="mt-4">

            </div>


          </div>

          <div class="col-md-5" id="humans">
            <div class="">
              <div class="card">
                <div class="card-header">
                  Datos de Matenimiento
                </div>
                <div class="card-body">
                  <div class="card">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <label for="maintenanceDate">Fecha</label>
                        <input type="date" class="form-control" name="maintenanceDate" id="maintenanceDate" value="{{date}}">
                      </li>
                      <li class="list-group-item">Agente : {{user.name}}</li>
                      <li class="list-group-item">Correo : {{user.email}}</li>
                      <li class="list-group-item">Tel(ext): {{user.phone}}</li>
                      <li class="list-group-item">Cedula : {{user.document}}</li>


                    </ul>
                  </div>


                </div>

              </div>
            </div>
            <script>
     

            </script>
            <div class="">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Datos del funcionario</h4>
                </div>
                <div class="card-body">
                  <form id="cpu-info" class="">
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="usernameLabel">Usuario</span>
                        <input type="text" class="form-control" aria-label="username" id="username" name="username"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>


                    </div>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="usernameLabel">Email</span>
                        <input type="text" class="form-control" aria-label="email" id="email" name="email"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>


                    </div>

                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Registro</span>
                        <input type="text" class="form-control" aria-label="No. Registro" name="register"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>

                    </div>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Documento</span>
                        <input type="number" class="form-control" aria-label="No. documento" name="document" id="document"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>

                    </div>

                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                        <input type="text" class="form-control" aria-label="Name" name="fullName" id="fullName"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Extension (IP) </span>
                        <input type="number" class="form-control" aria-label="ext" name="ext" id="ext"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Celular</span>
                        <input type="number" class="form-control" aria-label="mobile" name="mobile" id="mobile"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>

                    <div class="row p-2 mb-1">
                      <input type="text" class="form-control form-control-sm" placeholder="Buscar Gerencia" id="searchManagement">
                    </div>
                    <div class="row p-2 mb-1">

                      <select class="form-select form-control-sm"  data-live-search="true"  placeholder="Selecciona la Gerencia" name="management"
                        id="management">
                        <option value="">Selecciona la gerencia</option>
                        {% for management in data.managements %}
                        <option value="{{management.id}}">{{management.name}}</option>
                        {% endfor %}

                      </select>
                    </div>

                    <div class="row p-2 mb-1">
                      <div class="row p-2 mb-1">
                        <input type="text" class="form-control form-control-sm" placeholder="Buscar area" id="searchArea">
                      </div>

                      <select class="form-select form-control-sm" placeholder="Selecciona el area" name="area"
                        id="area">
                        <option value="">Selecciona el Area</option>

                        {% for area in data.areas %}
                        <option value="{{area.id}}">{{area.name}}</option>
                        {% endfor %}

                      </select>

                    </div>

                    <div class="row p-2 mb-1">
                      <div class="row p-2 mb-1">
                        <input type="text" class="form-control form-control-sm" placeholder="Buscar departamento" id="searchDepartment">
                      </div>

                      <select class="form-select form-control-sm" placeholder="Selecciona el departamento"
                        id="department" name="department">
                        <option value="">Selecciona el Departamento</option>
                        {% for department in data.departments %}
                        <option value="{{department.id}}">{{department.name}}</option>
                        {% endfor %}

                      </select>


                    </div>


                  </form>
                  <div class="row">
                    <div class="col"><button type="button" id="consultar"
                        class="w-40 btn btn-SM btn-primary">CONSULTAR</button></div>
                    <div class="col"><button type="button" id="actualizar-usuario"
                        class="w-40 btn btn-SM btn-success">ACTUALIZAR</button></div>
                    <div class="col"><button type="button" id="limpiar-usuario"
                        class="w-40 btn btn-SM btn-danger">LIMPIAR</button></div>

                  </div>

                </div>
              </div>
            </div>
            <div class="">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Equipo</h4>
                </div>
                <div class="card-body">
                  <form id="cpu-info" class="">
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="serial-numberLabel">Serial Number</span>
                        <input type="text" class="form-control" aria-label="serial-number" id="serial-number"
                          name="serial-number" id="serial-number" aria-describedby="inputGroup-sizing-sm" style="text-transform: uppercase;">
                      </div>

                    </div>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre del equipo</span>
                        <input type="text" class="form-control" aria-label="nombre-equipo" name="nombre-equipo"
                          id="nombre-equipo2" aria-describedby="inputGroup-sizing-sm"  style="text-transform: uppercase;">
                      </div>

                    </div>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Modelo</span>
                        <input type="text" class="form-control" aria-label="modelo-equipo" name="modelo-equipo"
                          id="modelo-equipo2" aria-describedby="inputGroup-sizing-sm"  style="text-transform: uppercase;">
                      </div>

                    </div>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Marca</span>
                        <select name="marca-equipo" id="marca-equipo2" class="form-control mx-auto" placeholder="Selecciona la marca">
                          {% for brand in data.brands %}
                          <option value="{{brand.id}}">{{brand.name}}</option>
                          {% endfor %}
                        </select>
                        
                        
                      </div>

                    </div>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">TIPO</span>
                        <select name="tipo-equipo" id="tipo-equipo2" class="form-control mx-auto" placeholder="Selecciona la tipo">
                          {% for _type in data.types %}
                          <option value="{{_type.id}}">{{_type.name}}</option>
                          {% endfor %}
                        </select>
                      </div>

                    </div>
                    
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Memora RAM</span>
                        <input type="text" class="form-control" aria-label="ram-equipo" name="ram-equipo"
                          id="ram-equipo2" aria-describedby="inputGroup-sizing-sm"  style="text-transform: uppercase;">
                      </div>

                    </div>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Capacidad Disco Duro</span>
                        <input type="text" class="form-control" aria-label="hd-equipo" name="hd-equipo"
                          id="hd-equipo2" aria-describedby="inputGroup-sizing-sm"  style="text-transform: uppercase;">
                      </div>

                    </div>
                    
                    
                    
                  </form>
                  <button type="button" id="consultarEquipo" class="w-40 btn btn-SM btn-primary">CONSULTAR</button>
                  <button type="button" id="crearEquipo" class="w-40 btn btn-SM btn-success">CREAR</button>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section id="tab-2" class="contentTab">
      <div class="row">

          
      </div>
    </section>
  </div>
</div>
<script src="{{ baseUrl }}/assets/js/maintenance.js"></script>
<script>
      $(document).ready(function() {
      // Agrega un evento de entrada al campo de búsqueda
      $('#searchManagement').on('input', function() {
        var searchValue = $(this).val().toLowerCase();

        // Filtra las opciones del select según la búsqueda
        $('#management option').each(function() {
          var optionText = $(this).text().toLowerCase();
          var optionValue = $(this).val();

          // Muestra u oculta las opciones según la búsqueda
          if (optionText.includes(searchValue)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
      $('#searchDepartment').on('input', function() {
        var searchValue = $(this).val().toLowerCase();

        // Filtra las opciones del select según la búsqueda
        $('#department option').each(function() {
          var optionText = $(this).text().toLowerCase();
          var optionValue = $(this).val();

          // Muestra u oculta las opciones según la búsqueda
          if (optionText.includes(searchValue)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
      $('#searchArea').on('input', function() {
        var searchValue = $(this).val().toLowerCase();

        // Filtra las opciones del select según la búsqueda
        $('#area option').each(function() {
          var optionText = $(this).text().toLowerCase();
          var optionValue = $(this).val();

          // Muestra u oculta las opciones según la búsqueda
          if (optionText.includes(searchValue)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      });
      

    });


</script>
{% endblock %}