{% extends 'layout.njk' %}
{% block head %}

{% endblock %}
{% block body %}

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<title>Bootstrap Example</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
  .content {
    width: 80%;
    margin: 0 auto;
  }

  .contentTab {
    display: none;
  }

  .contentTab.active {
    display: block;
  }

  #INFO>div>div>.card-body {
    height: 350px;
  }

  button.w-50.btn.btn-sm.btn-success {

    bottom: 20px;
    margin: 0 auto;
    left: 25%;
  }

  #humans {
    border-left: 1px solid;
    border-color: #ccc;
    padding-left: 2%;


  }

  #humans>div {
    margin-top: 2%;
  }
</style>
<div class="content">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-id="1" aria-current="page" href="#">Registro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-id="2" href="#">Historico</a>
    </li>

  </ul>

  <div id="tabsContent">
    <section id="tab-1" class="contentTab active">
      <div class="text-center">
        <div class="row">
          <div class="col-md-8" id="SETS">


          </div>

          <div class="col-md-4" id="humans">
            <div class="">
              <div class="card">
                <div class="card-header">
                  Datos de Matenimiento
                </div>
                <div class="card-body">
                  <div class="card">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Fecha : {{date}}</li>
                      <li class="list-group-item">Agente : {{user.name}}</li>
                      <li class="list-group-item">Correo : {{user.email}}</li>
                      <li class="list-group-item">Tel(ext): {{user.phone}}</li>
                      <li class="list-group-item">Cedula : {{user.document}}</li>


                    </ul>
                  </div>


                </div>

              </div>
            </div>
            <div class="">
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 class="my-0 fw-normal">Datos del funcionario</h4>
                </div>
                <div class="card-body">
                  <form id="cpu-info" class="">
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="usernameLabel">Usuario</span>
                        <input type="text" class="form-control" aria-label="username" id="username"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>

                    </div>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Registro</span>
                        <input type="text" class="form-control" aria-label="No. Registro"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>

                    </div>


                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                        <input type="text" class="form-control" aria-label="CPU Name"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>
                    </div>
                    <div class="row">

                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Gerencia</span>
                        <input type="text" class="form-control" aria-label="CPU Serial Number"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>

                    </div>
                    <div class="row">

                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Area</span>
                        <input type="text" class="form-control" aria-label="CPU Serial Number"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>

                    </div>
                    <div class="row">

                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Departamento</span>
                        <input type="text" class="form-control" aria-label="CPU Serial Number"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>

                    </div>
                  </form>
                  <button type="button" id="consultar" class="w-40 btn btn-SM btn-primary">CONSULTAR</button>
                </div>
              </div>
            </div>
          </div>


        </div>


    </section>
    <section id="tab-2" class="contentTab">HISTORICO</section>
  </div>
</div>
<script>

  $(".nav-link").click(function () {
    // Remover la clase 'active' de todos los tabs y contentTabs
    $(".nav-link").removeClass("active");
    $(".contentTab").removeClass("active");

    // Obtener el ID del tab haciendo clic
    var id = $(this).data("id");

    // Agregar la clase 'active' al tab seleccionado y su contenido correspondiente
    $(this).addClass("active");
    $("#tab-" + id).addClass("active");
  });

</script>

<script>
  $(document).ready(function () {
    // Cuando se hace clic en un botón de encabezado de acordeón
    $(".card-header button").click(function () {
      var $collapse = $(this).closest('.card-header').next('.collapse');

      // Si el acordeón está abierto
      if ($collapse.hasClass('show')) {
        // Oculta el acordeón
        $collapse.collapse('hide');
      } else {
        // Oculta otros acordeones abiertos
        $(".collapse.show").collapse('hide');
        // Muestra el acordeón clicado
        $collapse.collapse('show');
      }
    });
  });
</script>

<script>
  function getAssignedEquipment(username) {
    const xhr = new XMLHttpRequest();
    const endpointURL = `/tools/query/${username}`;

    xhr.open('GET', endpointURL, true);

    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          const data = JSON.parse(xhr.responseText);
          console.log(data)
          populateForm(data);

        } else {
          console.error('Hubo un problema con la solicitud:', xhr.statusText);
        }
      }
    };

    xhr.send();
  }


  function createAccordionTemplate(equipo, index) {
    return `
    <div class="card">
      <div class="card-header" id="heading${index + 1}">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse${index + 1}"
            aria-expanded="false" aria-controls="collapse${index + 1}">
            ${equipo.type} - ${equipo.sn} - ${equipo.name}
          </button>
        </h2>
      </div>
      <div id="collapse${index + 1}" class="collapse" aria-labelledby="heading${index + 1}"
        
        <div class="row " id="INFO">
          <div class="row">
              <div class="col-md-5">
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">CPU</h4>
                  </div>
                  <div class="card-body">
                    <form id="cpu-info" class="pt-4">
                      <div class="row">
                        <div class="input-group input-group-sm mb-3 col">
                          <span class="input-group-text" id="inputGroup-sizing-sm">CPU SN</span>
                          <input type="text" class="form-control" aria-label="CPU Serial Number"
                            aria-describedby="inputGroup-sizing-sm" value="${equipo.sn}">
                        </div>

                      </div>
                      <div class="row">
                        <div class="input-group input-group-sm mb-3 col">
                          <span class="input-group-text" id="inputGroup-sizing-sm">NOMBRE</span>
                          <input type="text" class="form-control" aria-label="CPU NAME" value="${equipo.name}"
                            aria-describedby="inputGroup-sizing-sm">
                        </div>

                      </div>


                      <div class="row">
                        <div class="input-group input-group-sm mb-3 col">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Modelo</span>
                          <input type="text" class="form-control" aria-label="CPU Name" value="${equipo.model}"
                            aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group input-group-sm mb-3 col">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Marca</span>
                          <input type="text" class="form-control" aria-label="CPU Name" value="${equipo.brand}"
                            aria-describedby="inputGroup-sizing-sm">
                        </div>

                      </div>
                      <div class="row">

                        <div class="input-group input-group-sm mb-3 col">
                          <span class="input-group-text" id="inputGroup-sizing-sm">RAM</span>
                          <input type="text" class="form-control" aria-label="CPU Serial Number" value="${equipo.ram}"
                            aria-describedby="inputGroup-sizing-sm">
                        </div>

                        <div class="input-group input-group-sm mb-3 col">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Disco</span>
                          <input type="text" class="form-control" aria-label="CPU Name" value="${equipo.hd}"
                            aria-describedby="inputGroup-sizing-sm">
                        </div>

                      </div>



                    </form>
                    <button type="button" class="w-50 btn btn-sm btn-success">ACTUALIZAR</button>
                  </div>
                </div>

              </div>
              
              <div class="col-md-7">
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">PERIFERICOS</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">MONITOR</small>
                    </h1>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">SN</span>
                        <input type="text" class="form-control" aria-label="DISPLAY SN" value="${equipo.peripherical.display.sn}"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>


                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">MODELO</span>
                        <input type="text" class="form-control" aria-label="DISPLAY MODEL" value="${equipo.peripherical.display.model}"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">MARCA</span>
                        <input type="text" class="form-control" aria-label="DISPLAY BRAND" value="${equipo.peripherical.display.brand}"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>


                    </div>
                    <h1 class="card-title pricing-card-title">TECLADO</small>
                    </h1>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">SN</span>
                        <input type="text" class="form-control" aria-label="KEYBOARD SN" value="${equipo.peripherical.keyboard.sn}"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>


                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">MODELO</span>
                        <input type="text" class="form-control" aria-label="KEYBOARD MODEL" value="${equipo.peripherical.keyboard.model}"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">MARCA</span>
                        <input type="text" class="form-control" aria-label="KEYBOARD BRAND" value="${equipo.peripherical.keyboard.brand}"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>


                    </div>
                    <h1 class="card-title pricing-card-title">MOUSE</small>
                    </h1>
                    <div class="row">
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">SN</span>
                        <input type="text" class="form-control" aria-label="MOUSE SN" value="${equipo.peripherical.mouse.sn}"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>


                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">MODELO</span>
                        <input type="text" class="form-control" aria-label="MOUSE MODEL"  value="${equipo.peripherical.mouse.model}"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>
                      <div class="input-group input-group-sm mb-3 col">
                        <span class="input-group-text" id="inputGroup-sizing-sm">MARCA</span>
                        <input type="text" class="form-control" aria-label="MOUSE BRAND"  value="${equipo.peripherical.mouse.brand}"
                          aria-describedby="inputGroup-sizing-sm">
                      </div>


                    </div>


                    <button type="button" class="w-50 btn btn-sm btn-success">ACTUALIZAR</button>
                  </div>
                </div>
              </div>
              </div>

              <div id="activities" class="accordion"></div>
              <hr>
              <button data-id="${equipo.id}">REGISTRAR</button>
            </div>
      </div>
    </div>
  `;
  }

  async function createActivityAccordions(equipoId) {

    let activities = await getActivities();
    // Plantilla de un checkbox de actividad
    function createActivityCheckbox(activity) {
      return `
      <div class="form-check col-md-4 col-sm-4 col-lg-4">
        <input class="form-check-input activityCheck" type="checkbox" value="${activity.id}" id="${activity.id}">
        <label class="form-check-label" for="${activity.id}">
          ${activity.short_description}
        </label>
      </div>
    `;
    }

    // Plantilla de un acordeón de actividades
    function createAccordion(category, activities) {
      console.log(activities)
      const activityCheckboxes = activities.map(activity => createActivityCheckbox(activity)).join('');
      console.log(activityCheckboxes)
      return `
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading${category}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse${category}" aria-expanded="true" aria-controls="collapse${category}">
            ${category}
          </button>
        </h2>
        <div id="collapse${category}" class="accordion-collapse collapse" aria-labelledby="heading${category}">
          <div class="accordion-body content">
            <div class="row">
            ${activityCheckboxes}
            </div>
          </div>
        </div>
      </div>
    `;
    }

    const softwareAccordion = createAccordion('Software', activities["SOFTWARE"]);
    const hardwareAccordion = createAccordion('Hardware', activities["HARDWARE"]);

    // Reemplazar [[ACTIVITIES]] con los acordeones generados

    console.log(softwareAccordion)



    const templateWithActivities = (softwareAccordion + hardwareAccordion);

    return templateWithActivities;
  }


  function populateForm(data) {
    const equipos = data.equipment;
    const setsContainer = document.getElementById('SETS');


    equipos.forEach(async (equipo, index) => {
      const accordionHTML = createAccordionTemplate(equipo, index);
      setsContainer.insertAdjacentHTML('beforeend', accordionHTML);
      let resp = await createActivityAccordions(equipo.id);
      console.log(resp)
      const container = document.getElementById('activities');
      container.insertAdjacentHTML('beforeend', resp);
      let activities = $("#activities")
      activities(".card-header button").click(function () {
        var $collapse = $(this).closest('.card-header').next('.collapse');

        // Si el acordeón está abierto
        if ($collapse.hasClass('show')) {
          // Oculta el acordeón
          $collapse.collapse('hide');
        } else {
          // Oculta otros acordeones abiertos
          $(".collapse.show").collapse('hide');
          // Muestra el acordeón clicado
          $collapse.collapse('show');
        }
      });

    });

    $(".card-header button").click(function () {
      var $collapse = $(this).closest('.card-header').next('.collapse');

      // Si el acordeón está abierto
      if ($collapse.hasClass('show')) {
        // Oculta el acordeón
        $collapse.collapse('hide');
      } else {
        // Oculta otros acordeones abiertos
        $(".collapse.show").collapse('hide');
        // Muestra el acordeón clicado
        $collapse.collapse('show');
      }
    });



  }

  async function getActivities() {
    return new Promise((resolve) => {
      fetch('/tools/activities')
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          return response.json()

        })
        .then(data => {
          // Aquí puedes manejar los datos obtenidos
          console.log('Actividades obtenidas:', data);

          // Lógica para poblar los acordeones de actividades en cada equipo
          // por ejemplo:
          // populateAccordions(data);
          resolve(data)
        })
        .catch(error => {
          console.error('Hubo un problema con la solicitud:', error);
        });

    })

  }



  document.addEventListener('DOMContentLoaded', function () {
    const button = document.querySelector('#consultar');

    button.addEventListener('click', function () {
      // Obtener el valor de username del input en tu formulario
      const usernameValue = document.querySelector('#username').value;

      // Llamar a la función para obtener los equipos asignados al username
      getAssignedEquipment(usernameValue);
    });
  });


</script>


{% endblock %}