<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script type="text/javascript">
    (function() {
        // https://dashboard.emailjs.com/admin/account
        emailjs.init('4Aiq4PEyKP6jBz-T1');
    })();
</script>
<script type="text/javascript">
    window.onload = function() {
        
        const serviceID = 'service_noa2i0o';
        const templateID = 'template_hdf4zie'
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            event.preventDefault();
            // generate a five digit number for the contact_number variable
           
            if(document.querySelector("#user_email").value == ''
            ||
            document.querySelector("#user_name").value == ''
            ||
            document.querySelector("#message").value == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                    footer: 'Recuerda diligenciar correctamente el formulario'
                })
            } else {
                this.contact_number.value = Math.random() * 100000 | 0;
                // these IDs from the previous steps
                emailjs.sendForm('service_noa2i0o', 'template_hdf4zie', this)
                .then(function() {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Se ha enviado el mensaje correctamente'
                        
                    })
                    
                }, function(error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        footer: 'Contacta al equipo de soporte'
                    })
                    
                });
                
            }
            
        });
    }
</script>
<footer>
    
    <div class="f-item-con">
        <div class="app-info">
            <span class='app-name'>
                <span class='app-initial'>P</span>andora
            </span>
            <p >We provides you with <strong>Well organised</strong> and <strong>SEO friendly</strong> Knowledge Base.</p>
            <span class="logo_footer" style="text-align: center;"><img src="/assets/images/comsistelcodark.png" alt="comsistelco" class="logobottom"></span>
        </div>
        <div class="useful-links">
            <div class="footer-title">Enlaces</div>
            <ul>
                <li><a href="/articles">Articulos</a></li>
                <li><a href="/auth/login">Sign In</a></li>
                <li><a href="/guides">Manuales</a></li>
                <li><a href="/resources">Recursos</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
            </ul>
        </div>
        <div class="help-sec">
            <div class="footer-title">Help</div>
            <ul>
                <li><a href="mailto:contact-project+comsistelco-emcali-emcali-46643629-issue-@incoming.gitlab.com">Reporta un bug o crea in incidente</a></li>
            </ul>
        </div>
        <div class="g-i-t">
            <div class="footer-title">Manten en contacto</div>
            
            <form id="contact-form" class="space-y-2">
                <input type="hidden" name="contact_number" >
                <label>Name</label>
                <input type="text" name="user_name" id="user_name">
                <label>Email</label>
                <input type="email" name="user_email" id="user_email">
                <label>Message</label>
                <textarea name="message" id="message"></textarea>
                <button type="submit" value="Send">
                    Enviar
                </button>
            </form>
        </div>
    </div>
    <div class='cr-con'>Copyright &copy; 2022 | Made by <a href="https://github.com/henry8812" target="_blank">henry8812</a></div>
</footer>