<header>
  <div class="search-bar">
    <input type="text" class="search-input" placeholder="Buscar...">
    <select class="search-select">
      <option value="opcion0">Todo</option>
      <option value="opcion1">Articulos</option>
      <option value="opcion2">Manuales</option>
      <option value="opcion3">Recursos</option>
    </select>
    <button class="search-button">Buscar</button>
  </div>
</header>
