{% extends 'layout.njk' %}

{% block body %}
  <div class="container">
    <section id="news">
      active news
      {% for item in items %}
      
      {% endfor %}
    </section>
    <section id="featured">
      list featured articles
    </section>
    <section id="latest_news">
      list latest news
    </section>
    <section id="latest_articles">
      list latest articles
    </section>
  </div>
{% endblock %}
