<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base de Conocimiento - Inicio</title>
    <link rel="stylesheet" href="{{ baseUrl }}/assets/styles/base.css">
    
</head>
<body>
<nav>
    <div class="navbar-content">
        <div class="logo">
            <!-- Aquí puedes agregar tu logo -->
        </div>
        <ul>
        
            <li{% if currentPath === '/' %} class="active"{% endif %}><a href="/">Inicio</a></li>
            {% for link in [
                ['/guides', 'Manuales'],
                ['/articles', 'Articulos'],
                ['/resources', 'Recursos']
            ] %}
            
                <li{% if currentPath === link[0] %} class="active"{% endif %}><a href="{{  link[0] }}">{{ link[1] }}</a></li>
            {% endfor %}
        </ul>
        <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</nav>

{% include 'partials/header_auth.njk' %}

{% block body %}{% endblock %}

{% include 'partials/footer.njk' %}

</body>
</html>
