<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base de Conocimiento - Inicio</title>
    <link   rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="{{ baseUrl }}/assets/styles/base.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    
    <!-- Agrega jQuery (es necesario para DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <style>
        /* Estilos adicionales para el despliegue de los submenús */
        .submenu {
            display: none;
            position: absolute;
            top: 26px;
            background-color: #000;
            padding: 8px;
            border-radius: 5px;
            color: white;
            height: 100px;
            width: 130px;
            /* z-index: 1000; */
            left: -15px;
        }

        .has-submenu:hover .submenu {
            display: block;
        }
    </style>
</head>

<body>
    <nav>
        <div class="navbar-content">
            <div class="logo comsistelco">
                <!-- Aquí puedes agregar tu logo -->
                <img src="/assets/images/comsistelco.png" alt="comsistelco">
            </div>
            <ul class="menu">
                <li{% if currentPath === '/' %} class="active"{% endif %}><a href="/">Inicio</a></li>
                <li class="has-submenu{% if currentPath.startsWith('/guides') %} active{% endif %}">
                    <a href="/guides">Manuales</a>
                    <ul class="submenu">
                        <li><a href="/front/guides">Front</a></li>
                        <li><a href="/premium/guides">Premium</a></li>
                        <li><a href="/ops/guides">Operativo</a></li>
                        <li><a href="/tools/guides">H. Gestion</a></li>
                        
                    </ul>
                </li>
                <li class="has-submenu{% if currentPath.startsWith('/articles') %} active{% endif %}">
                    <a href="/articles">Procedimientos</a>
                    <ul class="submenu">
                        <li><a href="/front/articles">Front</a></li>
                        <li><a href="/premium/articles">Premium</a></li>
                        <li><a href="/ops/articles">Operativo</a></li>
                        <li><a href="/tools/articles">H. Gestion</a></li>
                        
                    </ul>
                </li>
                <li class="has-submenu{% if currentPath === '/resources' %} active{% endif %}"><a href="/resources">Recursos</a>
                    <ul class="submenu">
                        <li><a href="/ops/form">Mantenimiento</a></li>
                    </ul>
                </li>
            </ul>
            <div class="logo emcali">
                <!-- Aquí puedes agregar tu logo -->
                <img src="/assets/images/emcali.png" alt="emcali">
            </div>
        </div>
    </nav>


    {% include 'partials/header.njk' %}

    {% block body %}{% endblock %}

    {% include 'partials/footer.njk' %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const submenus = document.querySelectorAll(".has-submenu");
            let timeoutId;

            function hideSubmenus() {
                submenus.forEach((submenu) => {
                    if (!submenu.classList.contains("hovered")) {
                        submenu.querySelector(".submenu").style.display = "none";
                    
                    }
                });
            }

            submenus.forEach((submenu) => {
                submenu.addEventListener("mouseenter", () => {
                    clearTimeout(timeoutId);
                    hideSubmenus();
                    submenu.querySelector(".submenu").style.display = "flex";
                    submenu.classList.add("hovered");
                    
                });

                submenu.addEventListener("mouseleave", () => {
                    submenu.classList.remove("hovered");
                    timeoutId = setTimeout(hideSubmenus, 2000);
                });
            });

            document.addEventListener("DOMContentLoaded", () => {
                hideSubmenus();
            });
        });
    </script>


</body>

</html>
