<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base de Conocimiento - Inicio</title>
    <link rel="stylesheet" href="{{ baseUrl }}/assets/styles/base.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...TuCódigoDeIntegridad..." crossorigin="anonymous" />
    <script src="https://cdn.tiny.cloud/1/ro7zz3s8qd5agecj1yw4flgil4i2wwk0qu7ka7oilyiduxcv/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- css.gg -->
    <link href="https://css.gg/css" rel="stylesheet" />
</head>
<body>
    <nav>
        <div class="navbar-content">
            <div class="logo comsistelco">
                <!-- Aquí puedes agregar tu logo -->
                <img src="/assets/images/comsistelco.png" alt="comsistelco">
            </div>
            
            <div class="logo emcali">
                <!-- Aquí puedes agregar tu logo -->
                <img src="/assets/images/emcali.png" alt="emcali">
            </div>
        </div>
    </nav>
{% block body %}{% endblock %}

</body>
</html>
