{% extends 'layout_articles.njk' %}

{% block body %}

<div class="content">
    <article class="blog-container post  main-page-content" lang="en-US">
        <figure class="blog-image">
            <img alt="{{article.title}}" src="{{article.banner}}" height="" width="800">
        </figure>
        <h1>{{article.title}}</h1>
        <div class="date-author">
            <a href="/profiles/{{article.author.id}}" class="external author" target="_blank" rel="noreferrer">
            <img src="https://img.freepik.com/free-icon/user_318-219687.jpg?t=st=1690227747~exp=1690228347~hmac=190afb2db5142c249d9a28ee4a2f0e01c088bdda5124db537524ce317017ef13" alt="Author avatar" style="margin-right: 5px;">{{article.author.name}}</a>
            <time class="date" style="margin-left: 10px;">{{article.created_at | date("DD/MM/YYYY HH:mm")}}</time>
        </div>
        <div class="section-content">
            {{article.content | renderHtml }}
        </div>
    </article>

</div>
{% endblock %}
