
* {
  margin: 0;
  padding: 0;
  
  
}
.loginLeft {
  width: 50%;
  height: 100%;
  min-height: 100%;
  
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/images/hero.jpg') !important;
  background-size: cover;
  background-position: center;
}

body {
  color: #333;
  font-size: 10px;
  line-height: 24px;
}

/* Estilos para el encabezado (header) */
header {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/images/hero.jpg');
}


/* Estilos para el navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 9999;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

nav ul li {
  list-style: none;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

nav ul li.active a {
  color: #007bff !important;
}

.logo {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  height: 50px;
  width: auto;
}

li {
  display: inline;
  margin-left: 20px;
}

.navbar-content {
  margin-top: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  height: 50px;
  position: relative;
  top: 45%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.search-input {
  width: 50%;
  height: 46px;
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 14px;
  border-radius: 15px 0 0 15px;
  border-color: transparent;
}

.search-select {
  width: 30%;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  font-size: 14px;
  border-color: transparent
}

.search-button {
  width: 20%;
  height: 50px;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  border-color: transparent;
  background-color: #1c89e1ca;
}

.header_auth {
  height: 70px !important;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/images/hero.jpg') !important;
}

.loginLeft {
  width: 40%;
  height: 100vh; /* Cambio realizado para ocupar el 100% de la altura de la pantalla */
  min-height: 100%;
  
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/images/hero.jpg') !important;
  background-size: cover;
  background-position: center;
  
}
.loginRight{
  background-color: hsl(230deg 8.82% 13.33%);
  color: white;
  width: 60%;
  float: right;
  height: 100vh; /* Cambio realizado para ocupar el 100% de la altura de la pantalla */
  min-height: 100%;
  
  float: left;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}
.white {
  color: white;
  text-transform: uppercase;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.5; /* Ajusta este valor según sea necesario */
  text-align: center;
  text-shadow: #1c89e1ca;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  
}
.secondary{
  background-color: hsl(230deg 8.82% 13.33%) !important;
  
}


#articles {
  width: 80%;
  display: flex;
  flex-wrap: wrap; /* Permite el ajuste automático de elementos en varias líneas */
  margin-left: 10%;
}

#articles > article {
  width: 40%;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #cdcdcd;
  margin-left: 2.5%;
  border-radius: 15px;
  margin-top: 25px;
}
#articles > article >p{
  min-height: 100px;
  font-size:13px
}
#articles > article >h3{
  min-height: 100px;
  
  text-align: center;
}


#content>#title{
  text-align: center;
  font-size: 30px;
  color: black;
  margin-bottom: 40px;
  margin-top: 50px;
}

article>.header{
  width: 100%;
}

article>.header>h2{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 2.25rem;
  margin-top: 1.5rem;
}

article>.header>figure>a>img {
  width: 100% !important;
  height: 250px;
  /***
  position: relative;
  left: -30px;
  top: -31px;
  */
}
.date-author{
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  margin-bottom: 15px;
  font-weight: bolder;
  
}
.date-author>time{
  position: relative;
  right: 0 !important;
  float: right;
}
.date-author>a>span{
  margin-left:5px;
  margin-right: 25px;
  position: relative;
  left: 5px;
  
}
.date-author>a{
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  
}
.date-author>a>img {
  width: 60px;
  height: 60px;
  border-radius: 29px;
}
.container{
  width:90% !important;
  margin: 0 auto;
  
}
article>figure{
  overflow: auto; /* Permite el desplazamiento si la imagen es más grande que el contenedor */

}
article>figure>embed {
  height: auto; /* Mantiene la relación de aspecto original de la imagen */
  min-height: 500px;
  display: block; /* Asegura que la imagen se comporte como bloque dentro del contenedor */
  margin-top:5px;
  margin-bottom: 30px;
  overflow: auto;
}


:root{
  --theme-col: #2d4bf0;
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
footer{
  background-color: #000000;
}
.f-item-con{
  padding: 1.5rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 2rem;
}
footer .app-name{
  color: white;
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}
.app-name .app-initial{
  color: var(--theme-col);
}
footer .app-info p{
  color: white;
  padding-left: 1.65rem;
}

footer .footer-title{ 
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: white;
  border-left: 4px solid var(--theme-col);
  padding-left: 1.5rem;
  height: fit-content;
}
footer ul{ 
  padding-left: 1.75rem;
  color: white;
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem;
  margin-top: .5rem;
  
}
footer ul li{ 
  margin: .25rem 0;
  cursor: pointer;
  color: #d4d4d4;
  width: fit-content;
  display: list-item;
}
footer ul li:hover{
  color: white;
}
footer .help-sec{
  grid-column-start: 2;
}
footer .cr-con{
  background-color: #232127;
  color: white;
  padding: 1rem 4rem;
  text-align: center;
}
.g-i-t{
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.g-i-t form{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
form .g-inp{
  padding: .25rem .5rem;
  font-size: 16px;
}
.g-inp textarea{
  height: 150px;
}
.f-btn{
  padding: .25rem 1rem;
  background-color: var(--theme-col);
  border-radius: .25rem;
  font-size: 16px;
  color: white;
  font-weight: 500;
}


.useful-links ul {
  list-style-type: disc;
}
.Title>a {
  
  font-weight: bold;
  font-size: 15px;
  text-decoration: #007bff;
  color: #007bff !important;
}

.leftContainer{
  width: 30%;
  position: relative;
  left: 0;
}
.rightContainer{
  width: 70%;
  position: relative;
  left: 30%;
}
.guide-container{
  margin-top: 30px;
}
.guide-container>h1{
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.guide-container>p{
  margin-bottom: 15px;
  text-align: justify;
}
.comsistelco >img{
  position: absolute;
  top: 0px;
  left: 0;
  height: 70px;
  width: 70px;
  margin: 0;
  padding: 0;
  
}
.emcali >img{
  position: absolute;
  top: 0px;
  right: 0;
  height: 70px;
  width: 70px;
  margin: 0;
  padding: 0;
  
}.logo_footer{
  position: relative; 
  top:150px;
}

.banner {
  background: linear-gradient(to right, #0f172a 0%, #192e80 50%, #0f172a 100%);
  padding: 10px;
  color: #e7e7e7;

  height: 150px;
  position: relative;
  
  padding-top: 50px;
  
}

.title {
  color: #f58320;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}

.message {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

/* Resto del código CSS */
#featured{
  margin-top: 15px;
}

#articles.featured{
  width: 100% !important;
  
  margin-left: 0 !important;
}
#articles.featured>article{
  min-height: 70px !important;
}

#latest_articles {
  margin-top: 20px;
}

.article-list {
  list-style: disc;
  margin-top: 10px;
  
  padding-left: 20px; /* Agrega un espacio entre el marcador y el texto del enlace */
}

.article-list > li{
  display: list-item ;
  margin-left: 0;
  text-decoration: underline;
  list-style: none;
}
.help-sec>ul>li>a{
  color: white !important;
}
#contact-form>input{
  height: 25px;
  padding: 4px  ;
  border-radius: 5px;
}
#contact-form>textarea{
  height: 100px;
  padding: 4px;
  border-radius: 10px;
}
#contact-form>button{
  height: 30px;
  background: #2d4bf0;
  color: #e7e7e7;
  border-radius: 10px;
  
}
.useful-links>ul>li>a{
  color: #FFFFFF;
}
#leftMenu {
  width: 20% !important;
  background: #0f172a;
  min-height: 400px;
}
#rightSection{
  margin-left: 5%;
  width: 90%;
}
#adminSection {
  display: flex;
  min-height: 200px;
}

#leftMenu {
  flex: 0 0 20%;
  color: white;
  background-color: #003369;
  height: 100%;
  padding: 20px;
}

#rightSection {
  flex: 1;
  padding: 20px;
}


.menu > ul{
  list-style: none;
}
.menu > ul >li {
  display: list-item;
  color: white;
  text-decoration: none;
}

.menu > ul >li>a {
  color: white;
}
.menu > ul >li>ul>li {
  
  display: list-item;
  color: white;
  text-decoration: none;
}
.menu > ul >li>ul>li>a {
  color:white;
}
#leftMenu {
  flex: 1;
  background-color: #0f172a;
  color: #e7e7e7;
  min-height: 700px;
}

#rightSection {
  flex: 4;
  
}

.container {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner>.news{
  display: block !important;
}
.content{
  width: 80%;
  margin: 0 auto;
}
#latest{
  margin-bottom: 50px;
}

#article-editor {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 80px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.article-header label,
.article-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.article-header input[type="text"],
.article-header textarea,
.article-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.article-content textarea {
  height: 300px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.card-container {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-container>span {
  width: 20%;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin: 2%;
  height: 250px;
}

.card-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-description {
  font-size: 12px;
}

.card-stats {
  /* Estilos para las estadísticas del manual */
}


#loginForm{
  width: 60%;
  margin: 0 auto;

}

#title {
  text-align: center;
  margin-bottom: 20px;
}

#resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  margin-bottom: 40px;
  width: 100%;
}

.category h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

#resources {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  margin-bottom: 40px;
  width: 100%;
}

.category h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.resource-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.resource {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.resource-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.resource-description {
  margin-bottom: 10px;
}

.resource-link {
  display: inline-block;
  padding: 6px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.resource-link:hover {
  background-color: #0056b3;
}

.resource-list>li{
  display: list-item;
}
.card-container>span>a>figure>img{
  width: 100%;
}

.comments-section {
  margin-top: 30px;
}

.comment-form textarea {
  width: 100%;
  height: 80px;
  resize: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment-form button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  background-color: #dcdcdc;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.rating {
  display: flex;
  margin-bottom: 10px;
}

.rating label {
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
}

.rating input[type="radio"] {
  display: none;
}

.star {
  color: orange;
}
.comments-list{
  margin-bottom: 20px;
}

.submenu {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0; /* Establecemos la opacidad en 0 para que esté oculto inicialmente */
  transition: opacity 4s; /* Agregar la propiedad de transición con 4 segundos de duración */
}

.has-submenu {
  position: relative;
}

.has-submenu:hover .submenu {
  display: flex;
  opacity: 1; /* Al hacer hover, establecemos la opacidad en 1 para que se muestre */
}

.submenu li {
  list-style: none;
  margin-left: 10px;
}

/**
.slider-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider {
  display: flex;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  transition: transform 0.3s ease;
}

.slide.active {
  transform: translateX(-100%);
}

.slide.next {
  transform: translateX(100%);
}
*/
/* Estilos para el contenedor de la presentación de diapositivas */
.slider-container {
  font-size: 20px;
  background-color: #657c87; /* Color de fondo azul metalizado */
  width: 100%;
  overflow: hidden;
  min-height: 500px;
  padding: 25px;
  position: relative;
  box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
}

/* Estilos para los slides */
.swiper-slide {
  display: inline-table; /* Cambiado a inline-table para permitir centrado horizontal */
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 100%; /* Asegura que el slide ocupe todo el ancho disponible */
  box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
}

/* Estilos para los slides de texto */
.text-slide {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  max-width: 80%;
  width: 100%; /* Asegura que el slide de texto ocupe todo el ancho disponible */
  margin: 0 auto; /* Centra horizontalmente el slide de texto */
  text-align: center;
  box-sizing: border-box; /* Asegura que el padding no aumente el tamaño total */
}

/* Estilos para los títulos de slide */
.slide-title {
  color: #e67e22;
  font-size: 28px;
  margin-bottom: 10px;
}

/* Estilos para el contenido de slide */
.slide-content {
  color: white;
  font-size: 18px;
  line-height: 1.5;
  width:90%;
  margin:0 auto;
}

/* Estilos para las imágenes de slide */
.swiper-slide img {
  width: 950px;
  
}

/* Estilos para el paginador de Swiper */
.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* Estilos para los botones de navegación */
.swiper-button-prev,
.swiper-button-next {
    background-color: rgba(150, 150, 150, 0.5); /* Gris con transparencia */
    color: white; /* Color de la flecha */
    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    border-radius: 50%; /* Hace que el botón sea circular */
    font-size: 18px; /* Tamaño de la flecha (más pequeño) */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; /* Asegura que los botones estén por encima de las diapositivas */
    cursor: pointer;
    border: none;
}

/* Tamaño del círculo 10% más grande */
.swiper-button-prev,
.swiper-button-next {
    width: 55px;
    height: 55px;
}

/* Flechas un 50% más pequeñas */
.swiper-button-prev::before,
.swiper-button-next::before {
    font-size: 10px !important; /* Tamaño más pequeño */
    transform: scale(0.6);
}
.swiper-slide>p>a{
  text-decoration: #0056b3  !important;
}

canvas{
  border: 1px solid;
}