{% extends 'layout_articles.njk' %}

{% block body %}

<div id="article-editor">
  <form id="article-form">
    <div class="article-header">
      <label for="banner">Imagen relacionada al news</label>
      <input type="file" id="banner" name="banner">
      <button type="button" id="upload">Upload Image</button>
      <input type="text" id="bannerurl" name="bannerurl" style="display: none;">
      <label for="title">Title</label>
      <input type="text" id="title" name="title">
      <label for="date">Activo hasta:      </label>
      <input type="date" name="date" id="date">

     
      
    </div>
    <div class="article-content">
      <label for="content">Content</label>
      <textarea id="content" name="content"></textarea>
    </div>
    <button type="submit" id="publish">Publish</button>
  </form>
</div>

<script src="https://cdn.tiny.cloud/1/ro7zz3s8qd5agecj1yw4flgil4i2wwk0qu7ka7oilyiduxcv/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    tinymce.init({
      selector: '#content',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
      height: '400',
      content_style: 'body { font-family: Arial,sans-serif; font-size: 14px; }',
    });

    const articleForm = document.querySelector("#article-form");
    const uploadButton = document.querySelector("#upload");

    let guide = null;
    let resource = null;

    uploadButton.addEventListener("click", function() {
      const documentInput = document.querySelector("#banner");
      const documentURL = document.querySelector("#bannerurl");
      const formData = new FormData();

      if (documentInput.files.length > 0) {
        const file = documentInput.files[0];
        formData.append("file", file);
        formData.append("category_id", 4)
      }

      fetch("/resources/", {
        method: "POST",
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        resource = data;
        console.log(JSON.stringify(resource, null, 4))
        resource.path = '/files/'+resource.resource.file.filename
        
        
        Swal.fire({
            title: 'Carga Completa',
            text: 'Haz cargado la imagen relacionada al news',
            icon: 'success',
            confirmButtonText: 'OK'
          })
      })
      .catch(error => {
        console.error("Error al cargar el documento:", error);
        Swal.fire({
            title: 'Carga Fallida',
            text: 'Ha ocurrido un error al cargar la imagen, intentalo nuevamente, si el error persiste contacta al equipo de soporte',
            icon: 'error',
            confirmButtonText: 'OK'
          })
      });
    });

    articleForm.addEventListener("submit", function(event) {
      event.preventDefault();

      const titleInput = document.querySelector("#title");
      const documentURL = document.querySelector("#bannerurl");
      
      const contentInput = tinymce.get('content').getContent();
      
    //    const { title, bannerurl, content, expiration_date } = req.body;
      //console.log(JSON.stringify(resource, null, 4))
      const guideData = {
        title: titleInput.value,
        bannerurl : resource !== null ? resource.path : null,
        content: contentInput,
        expiration_date : date.value
      };
      console.log(guideData)

      fetch("/news", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(guideData)
      })
      .then(response => response.json())
      .then(data => {
        console.log(data);
        Swal.fire({
            title: 'News creada correctamente',
            text: 'Haz creado un news de fomra exitosa',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then((result) => {
          /* Read more about isConfirmed, isDenied below */
            location.href = "/guides";
        })
      })
      .catch(error => {
        console.error("Error al publicar el news:", error);
      });
    });
  });
</script>
{% endblock %}
